<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark shadow">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="./view/img/logo-auren-footer.png" alt="Logo" class="navbar-logo">
                <span class="fs-4 ms-3 navbar-title">CRUD países</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0 px-4">
                    <li class="nav-item">
                        <span id="linkMyIp" class="nav-link">Mi IP</span>
                    </li>
                </ul>
                <form id="formSearch" class="d-flex" role="search">
                    <input type="search" name="search" class="form-control me-2" placeholder="Buscar IP" aria-label="Buscar">
                    <button class="btn btn-outline-primary" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
</header>