<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container d-flex justify-content-center">
        <div id="cardIp" class="card text-bg-light bg-body-tertiary border-0 shadow-sm mt-3 d-none" style="width: 18rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col-7">
                        <h5 class="card-title">1.1.1.1</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">España</h6>
                    </div>
                    <div class="col-5 d-flex align-items-center justify-content-end">
                        <div class="d-flex justify-content-end">
                            <button type="button" id="btnDeleteIp" class="btn btn-outline-danger btn-sm">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>